name: Node.js CI/CD on Amazon Linux

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATEKEY }}
          script: |
            cd /home/ec2-user/Locale-Backend
            git pull origin main
            npm install
            sudo systemctl restart locale.service
